html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* END CSS RESET */

header {
    max-height: 10vh;
    margin: 7px 10px 20px 10px;
    padding: 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 3px #9ab3df;
}

header img {
    width: 20vh;
    height: auto;
}

header nav {
    font-size: 27px;
    margin-bottom: 10px;
    cursor: pointer;
}

#landing-content{
    width: calc(80vw - 20px);
    min-height: 90vh;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

#subtitle {
    width: 100%;
    font-size: 19px;
    margin: 10px auto;
    padding: 4vh 50px;
    background: #4472c4;
    color: white;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navigation-panels {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#navigation-panels figure {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: rgb(173, 173, 173) -3px 3px 10px
}

#navigation-panels figure img {
    height: 100%;
    width: auto;
}

#navigation-panels figure div {
    font-size: 22px;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.233);
    color: white;
    transform-origin: 0 0;
    transform: translate(50px) rotate(90deg);
}

#contact {
    position: relative;
}

.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    transform: translateY(110%);
    z-index: 2;
    right: -5px;
    width: 200px;
    height: 100px;
    border-radius: 9px;
    color: white;
    font-size: 19px;
    background:#9ab3df;
    opacity: 0;
    transition: 0.4s all ease;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: 0.4s all ease;
}

@media (max-width: 500px) {
    header img {
        width: 100px;
    }    

    header nav {
        font-size: 20px;
    }

    #subtitle {
        font-size: 15px;
        padding: 15px 25px;
        margin-bottom: 25px;
    }

    #landing-content {
        padding-bottom: 0;
    }

    #navigation-panels figure {
        margin: 0 0 16px 0;
    }
}